<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Ads List</h4>
    </div>
    <!-- <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          
            <button routerLink='/ads/inputs' type="button" class="btn btn-info d-none d-lg-block m-l-15">
                <i class="fa fa-plus-circle"></i> Create New</button>
        </div>
    </div> -->
</div>

<br>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <table id="listads" class="display wrap table table-hover table-striped table-bordered" cellspacing="0" width="100%"> -->
                    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger">   
                    <thead>
                        <tr>
                            <th style="text-align: center;">ID</th>
                            <th style="text-align: center;">Title</th>
                            <th style="text-align: center;">URLPhoto</th>
                            <th style="text-align: center;">Link</th>
                            <th style="text-align: center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let nw of ads;let i = index">
                            
                            <td>{{ nw.Id }}</td>
                            <td>{{ nw.Title }}</td>
                            <td>{{ nw.URLPhoto }}</td>
                            <td>{{ nw.Link }}</td>
                            <td style="text-align: center;">
                                <a style="cursor: pointer;" routerLink="/pages/ads/view/{{ nw.Id }}" data-toggle="tooltip" data-original-title="View">
                                    <i class="nb-search"></i>
                                </a>
                                <a style="cursor: pointer;" routerLink="/pages/ads/update/{{ nw.Id }}" data-toggle="tooltip" data-original-title="Update">
                                    <i class="nb-edit"></i>
                                </a>
                                <a style="cursor: pointer;" (click)="deleteConfirm(nw)" data-toggle="tooltip"
                                    data-original-title="Delete">
                                    <i class="nb-trash"></i>
                                    
                                </a>
                                <!-- <button data-toggle="tooltip" data-placement="top" title="View" style="margin-bottom: 4px" class="actionView btn btn-sm btn-primary icon-eye"></button> -->
                                <!-- <span *ngIf="permit.finalApprovalStatus.id != 2"><button data-toggle="tooltip" data-placement="top" title="Delete"  (click)="deleteConfirm(permit)" style="margin-bottom: 4px" class="btn btn-sm btn-danger icon-close"></button></span> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>
</div>