
<div class="row">
  <div class="col-md-12">
      <nb-card>
          <nb-card-header>Add Video News</nb-card-header>
          <nb-card-body>
              <form (ngSubmit)="saveuser()" [formGroup]="formuser">
              <div class="form-group">
                <input required formControlName="Id" type="text" class="form-control" placeholder="Id" id="Id" name="Id"  >
                <!-- <app-validation-error-display [displayError]="isFieldValid('Id')" errorMsg="Required data"></app-validation-error-display> -->
              </div>
             
              <div class="form-group">
                  <input required formControlName="Name" type="text" class="form-control" placeholder="Name" id="Name" name="Name">
                  <!-- <app-validation-error-display [displayError]="isFieldValid('Title')" errorMsg="Required data"></app-validation-error-display> -->
                  
                </div>
                  <div class="form-group">
                      <input required formControlName="Email" type="text" class="form-control" placeholder="Email" id="Email" name="Email">
                      <!-- <app-validation-error-display [displayError]="isFieldValid('URLPhoto')" errorMsg="Required data"></app-validation-error-display> -->
                    </div>
                    <div class="form-group">
                      <nb-checkbox  required formControlName="is_Admin" status="success" class="col-sm-4" id="is_Admin" name="is_Admin"  disabled="disabled">Is Admin</nb-checkbox>
                      <!-- <app-validation-error-display [displayError]="isFieldValid('URLPhoto')" errorMsg="Required data"></app-validation-error-display> -->
                      </div>
                      <div class="form-group">
                          <input required formControlName="Password" type="password" class="form-control" placeholder="Password" id="Password" name="Password">
                          <!-- <app-validation-error-display [displayError]="isFieldValid('URLPhoto')" errorMsg="Required data"></app-validation-error-display> -->
                        </div>
                
              <button type="submit" class="btn btn-success">Send</button>
              <!-- <lib-ngx-notification></lib-ngx-notification> -->
            </form>
          </nb-card-body>
        </nb-card>
  </div>
</div>